.welcome{width:inherit; min-height:inherit; overflow:hidden;}

.welcome .left,.welcome .right
{
	width:485px;
	height:500px;
	padding:10px 0;
	height:inherit;
	overflow:hidden;
}

.copy{width:99%; height:auto; overflow: hidden; padding:0.5%;}
.copy ul{width:100%; text-align: left; float: left;}

.copy li{float:left; margin: 0 .5%;}
.copy li a:hover{text-decoration: overline;}

#header{background:#e74c3c;box-shadow: inset 0 -3px 0 #c0392b;border:none;}
#header .navbar {min-height:40px !important;}
#header .navbar-brand {height:auto !important; line-height: normal;color: #9E271B;}
#header .navbar-nav > li > a {padding:20px 20px!important;font-weight: bold;line-height: 26px;font-size: 110%;color: #9E271B;}
#header .navbar-nav > li > a:hover{background:#9E271B;}
#header .navbar-nav > li.open > a{box-shadow: inset 0 3px 0 #c0392b;}
#header .navbar-nav > li .navbar-text{font-weight: bold;line-height: 35px;font-size: 130%;color: #9E271B;}
#header .navbar-nav > li > .header_title{padding-left: 30px;border-left: solid 1px #9E271B;}
#header .navbar-nav .glyphicon{color: #9E271B!important;}
#header .logo{font-size: 200%;}
#header .caret {
    border-bottom-color: #9E271B;
    border-top-color: #9E271B;
}

#sidebar{text-align: left;}
#sidebar .glyphicon{color: #9E271B;}
#sidebar a{color: #9E271B;display: block;padding: 20px;font-size: 120%;text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);}
#sidebar a:hover{text-decoration: none;background: rgba(255, 255, 255, 0.3);}

#content.display{background:none;box-shadow:none;}
#content.display .col-md-2,
#content.display .col-md-3,
#content.display .col-md-4,
#content.display .col-sm-3,
#content.display .col-sm-6,
#content.display .col-sm-12{padding: 1%; margin: 0;}

#footer{text-align: center;}
#footer a{clear:none;}
#footer ul{float:right;}
#footer li{float:left; margin:0 10px; font-size:14px;}
#footer ul a:hover{text-decoration:overline;}

.target{width:inherit; height:250px; padding:5px; border:3px dashed #ddd; color:#ddd; font-weight:bold; font-size:24px; border-radius:10px;}
.target h1{color:inherit;}
.target.foo{border-color:#333; color:#333;}
.target input[type=file]{display:none;}
.target img{max-width:200px; max-height:250px; vertical-align:top;}

#wrapper{display: table; position: absolute; height: 100%; /*text-align: center;*/}
#main{display: table-cell; vertical-align: middle; padding: 8% 5%; position: relative;}

#login *:after, #login *:before, #register *:after, #register *:before{
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-o-box-sizing: content-box;
	-ms-box-sizing: content-box;
	content: none;
}

#login{width:35%; height:auto; margin:0 auto; vertical-align: middle;}
#login .main, #login .b{width:100%; overflow: hidden; border-radius: 2px; box-shadow: 0 2px 3px #ccc; display: table;}
#login .b{margin-top: 5px; box-shadow: none;}
#login .form{float:left; width:70%;}
#login li{display: table-row;}
#login li > *{display: table-cell;}
#login input[type='text'],#login input[type='password']{
	width:96%;
	padding:3% 2%;
	font-size:130%;
	background:rgba(255,255,255,0.8);
	border: none;
	text-align: center;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box; 
}
#login input[type='text']:focus,#login input[type='password']:focus{
	box-shadow: inset 0 0 1px 0 #000;
}
#login button{width: 100%;}
#login a{color:#06C;}
#login span{font-size:110%; float: right;}
#login span a:hover{text-decoration:underline;}
#login .logo{font-size: 250%; text-align: center;}

#register h3, .form-wrap h3{text-align: left;}
#register .show{height: 30%;}

.logo{width: 100%;font-family:Lobster, Arial, Helvetica, sans-serif;}

#main #content{
	width: 90%; margin: auto; position: relative;
	overflow: visible;
	box-shadow: 0 2px 3px #333;
}

#main .cover{background: url('../images/background.jpg') no-repeat; background-size: cover;}

#nav{background: rgba(255, 255, 255, 0.5);}

#display .cover h1{text-shadow: 0 0 0 #fff,  0 1px 0 #fff}

.circle{
	position: absolute; width: 16%; height: 0; left: -16%; padding: 8% 0; z-index: 999;
}

.photo{
	position: absolute; width: 100%; height: 100%; top: -50%; left: 50%; border-radius: 50%; border:2px solid #666; overflow: hidden; background: #ccc;
}

.photo img{width: 100%; height: auto;}

.photo .lay{display: none; color: #ccc;}
.photo:hover .lay{display: block; position: absolute; width:100%; height: 100%; top: 50%; background: rgba(0, 0, 0, 0.5);}

#drag-foto{border-radius: 10px; border: 3px dashed #d5d5d5; padding: 5%;}
#drag-foto img{max-height: 10%;}
#drag-foto .img-upload{max-width: 30%; max-height: 30%;}

#logo{position: fixed; width:100%; bottom: 2%; right: 2%; opacity: .6;font-size: 200%;text-align: right;}

@media screen and (max-width:480px){
	#login{width: 80%;}
	#main.profile{vertical-align: middle; padding: 50% 5% 8% 5%; position: relative;}
	#main #content{width: 100%;}
	.circle{
		width: 45%;
		left: -45%;
		padding: 22.5% 0;
	}
	.photo{
		top: -110%;
		left: 160%;
	}
}
