@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato'), url('../fonts/Lato-Regular.ttf');
}

@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local('Lobster'), url('../fonts/Lobster 1.4.otf');
}

*{
margin: 0;
padding: 0;
outline:none;
font-size: 100%;
vertical-align: baseline;
background: transparent;
height: auto;
border-width:0;
font-family:Lato, Arial, Helvetica, sans-serif;
color:#5f5f5f;
}

::-webkit-scrollbar{width:12px;}

::-webkit-scrollbar-thumb{-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);}

::-webkit-input-placeholder{color:#b5b5b5;}

:-moz-placeholder{color:#b5b5b5;}
:-webkit-placeholder{color:#b5b5b5;}

a{text-decoration:none; color:inherit;}

/*#2b303f*/ /*#464e68*/
body{background: #D8D8C0 fixed no-repeat; background-size: cover; width:auto;}

table td,table th{word-wrap:break-word;}

#wrapper{height: auto;width: 100%;}

#sidebar{
	position: fixed;
	min-height:100px;
	overflow:hidden;
	padding: 0;
	position: fixed;
	height: 100%;
	background: rgba(216,216,192,.9)/*#e74c3c*/;
	z-index: 5;
	left: -100%;
	margin-top: 66px;
	box-shadow: inset -3px 0 0 rgba(0,0,0,0.1);
}

#content{
	height: auto;
	min-height:100px;
	padding: 0;
	overflow:hidden;
	background: #fff;
	z-index: 1;
	margin: auto auto;
	float: none;
	padding: 0;
	box-shadow: 0 0 1px #999;
	text-align: center;
}

.left{float:left;}
.right{float:right;}