ul{list-style:none;}

.form-control:focus{box-shadow: none!important;}
.btn{border-radius: 0; padding: 10px 30px;}

input[type='submit']:active,button:active{box-shadow: none;}
input[type='submit'],button{
	background:#57A0A9;
	border-radius:3px;
	padding:8px 20px;
	font-weight:bold;
	margin: 0;
	box-shadow: 0 1px 0 #1e5e66 , 0 2px 0 #1e5e66;
	color: #1e5e66;
}

input[type='submit']:hover,button:hover{cursor:pointer;}

.lace{background: rgba(0 ,0 ,0 ,0.5)!important;}
.grayscale{-webkit-filter: grayscale(100%);-moz-filter: grayscale(100%);filter: grayscale(100%);filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */}

.spinner {
width: 40px;height: 40px;position: relative;margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
	width: 100%;height: 100%;border-radius: 50%;background: #e74c3c;opacity: 0.6;position: absolute;top: 0;left: 0;
	-webkit-animation: bounce 2.0s infinite ease-in-out;
	animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

.classy{
	font-family: 'Lobster';
}

@-webkit-keyframes bounce {
	0%, 100% { -webkit-transform: scale(0.0) }
	50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
	0%, 100% { 
		transform: scale(0.0);
		-webkit-transform: scale(0.0);
	}
	50% { 
		transform: scale(1.0);
		-webkit-transform: scale(1.0);
	}
}