.thumbnail{
	position: relative;
	width: 100%;
	overflow: hidden;
	text-decoration: none!important;
	padding:0;margin:0 0 10%;border:none;border-radius:0;background: none;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.thumbnail:hover > .name{
	opacity: 1;
	transition: opacity .5s;
}

.thumbnail:hover > img{
	-webkit-filter: sepia(50%);-moz-filter: sepia(50%);filter: sepia(50%);
}

.thumbnail img{
	width:100%; margin: 0 auto;
}

.thumbnail .name{
	opacity: 0;
	position: absolute;
	overflow: hidden;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
	margin: 0 auto;
	background: rgba(255,255,255,0.7);
	transition: opacity .5s;
}

.thumbnail .name h2{
	position: absolute;
	margin: 0;
	padding: 0;
	top: 50%;
	width: 100%;
}