.name{
	font-family: 'Lobster';
	font-size: 350%;
}

#display{
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#display section:first-child{
	overflow: hidden;
	position: relative;
	background: url('/assets/images/VMS_LandingPageImage.jpg') fixed, #DDD;
}

#display .main_view{
	color: #333;
}

#display .description{
	font-size: 120%;
}

#display .birthdate, #display .description{
	/*position: absolute;
	bottom: -100%;*/
}

#display .photos{
	background: #333;
}

#display .photos .item{
	width: 25%;
	margin: 3px 0;
}

#display .photos .item img{
	width: 80%;
	margin: auto;
	box-shadow: 0 3px 5px #111;
}